body
{
    margin: 0;
    padding: 0;
}

#name
{
    font-size: 80px;
    font-family: 'Pangolin', cursive;
    font-weight: bolder;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.navBtn
{
    font-size: 30px;
    font-family: 'Pangolin', cursive;
    font-weight: bolder;
    color: white;
    padding: 0;
    border: none;
    background: none;
    margin: 0 25px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#navBtnsContainer
{
    text-align: center;
}

.navBtn:hover
{
    color: tan;
    text-decoration: none;
}

#navItems
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.container-fluid
{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
}

#landing
{
    background: url('../images/newheader.png');
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}

#landingTitle
{
    justify-content: flex-end;
    text-align: right;
}

#portfolio
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: rgba(75, 28, 28, 0.918);
}

#contact
{
    display: flex;
    flex-flow: row wrap;
}

#contactFormArea
{
    background: url('../images/city\ option\ 1.jpg');
    background-size: cover;
    background-position: center center;
    flex: 1;
}

#contactHeader
{
    text-align: center;
}

#contactForm
{
    padding: 20px;
    font-size: 22px;
    color: white;
    font-family: 'Pangolin', cursive;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 1;
}

.submitContainer
{
    text-align: center;
}

.formInput
{
    font-size: 22px;
    font-family: 'Pangolin', cursive;
    background: rgba(252, 251, 253, 0.7);
    color: black;
}

#contactSubmit
{
    background: darkslategray;
    border: 2px solid white;
    border-radius: 100px;
    padding: 10px 20px;
    color: white;
    font-size: 22px;
    font-family: 'Pangolin', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bolder;
}

#contactSubmit:hover
{
    color: darkslategray;
    background: white;
    border: 2px solid darkslategray;
}

form .form-control::placeholder
{
    color: black;
}

form .form-control::-webkit-input-placeholder { 
    color: black;
  }
  
  form .form-control::-moz-placeholder {
    color: black;
  }
  form .form-control:-ms-input-placeholder {
    color: black;
  }
  form .form-control:placeholder {
    color: black;
  }


#aboutMe
{
    background: rgba(187, 75, 19, 0.849);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#selfie
{
    max-height: 80%;
    max-width: 80%;
    border-radius: 50%;
}

.modal-body > img
{
    margin: 0;
    padding: 20px;
}

.modalContainer
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.modalSection
{
    padding: 15px;
}

.modalSection > h3
{
    font-family: 'Pangolin', cursive;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 1;
}

#portfolioInfo
{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
}

.portfolioHeader
{
    margin-top: 0;
    padding-top: 0;
    font-family: 'Pangolin', cursive;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 1;
}

#aboutMe > h3
{
    font-family: 'Pangolin', cursive;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#aboutMe > p
{
    color: white; 
    font-size: 18px; 
    background: rgba(49, 46, 46, 0.342);
    padding: 20px;
    border-radius: 25px;
}





